@use '../../variables.scss' as *;

.warnItems {
  composes: flexWrap from '../../d2l-ui/common.m.scss';
  gap: 4px;
}

.contents {
  composes: flexColumn from '../../d2l-ui/common.m.scss';
  margin-top: 8px;
  padding: 0 10px;
}
