@use '../variables.scss' as *;

@layer base {
  .sub-bucket {
    min-height: var(--item-size);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--item-size), 1fr));
    gap: var(--item-margin);
    align-content: flex-start;
    align-items: flex-start;
    padding: 4px 0 calc(var(--item-margin) + 4px) 0;
    position: relative;

    &:empty {
      min-height: 0;
      padding: 0;
    }
  }
}
