@use '../variables' as *;

.buttons {
  composes: item-details from global;
  composes: flexRow from '../d2l-ui/common.m.scss';
  gap: 8px;
}

.insertButton {
  composes: d2l-button from global;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: none;

  gap: 8px;
}
